<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Bottom Drawer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <agm-map [zoom]="15" [latitude]="7.253225" [longitude]="80.3449673">
    <agm-marker [latitude]="7.253225" [longitude]="80.3449673"></agm-marker>
  </agm-map>

  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button size="small" color="tertiary">
      <ion-icon name="locate" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<lib-ionic-pullup
  (onExpand)="footerExpanded()"
  (onCollapse)="footerCollapsed()"
  [(state)]="footerState"
  [toolbarTopMargin]="60"
  [minBottomVisible]="-25"
>
  <ion-toolbar color="clear">
    <div class="ion-text-center">
      <ion-chip id="chip1" (click)="toggleFooter()" #ionDragFooter>
      </ion-chip>
      <ion-title id="chip-title">Items in your area</ion-title>
    </div>
  </ion-toolbar>

  <ion-content color="medium">

    <ion-card>
      <ion-item>
        <ion-icon name="leaf" slot="start" color="success"></ion-icon>
        <ion-label>Sample Item One</ion-label>
        <ion-button fill="solid" slot="end">View</ion-button>
      </ion-item>
      <ion-card-content>
        <h5>Sample item one details goes here</h5>
        Location: Kegalle, Sri Lanka
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon name="leaf" slot="start" color="success"></ion-icon>
        <ion-label>Sample Item Two</ion-label>
        <ion-button fill="solid" slot="end">View</ion-button>
      </ion-item>
      <ion-card-content>
        <h5>Sample item two details goes here</h5>
        Location: Kegalle, Sri Lanka
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon name="leaf" slot="start" color="success"></ion-icon>
        <ion-label>Sample Item Three</ion-label>
        <ion-button fill="solid" slot="end">View</ion-button>
      </ion-item>
      <ion-card-content>
        <h5>Sample item three details goes here</h5>
        Location: Kegalle, Sri Lanka
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon name="leaf" slot="start" color="success"></ion-icon>
        <ion-label>Sample Item Four</ion-label>
        <ion-button fill="solid" slot="end">View</ion-button>
      </ion-item>
      <ion-card-content>
        <h5>Sample item four details goes here</h5>
        Location: Kegalle, Sri Lanka
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon name="leaf" slot="start" color="success"></ion-icon>
        <ion-label>Sample Item Five</ion-label>
        <ion-button fill="solid" slot="end">View</ion-button>
      </ion-item>
      <ion-card-content>
        <h5>Sample item five details goes here</h5>
        Location: Kegalle, Sri Lanka
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon name="leaf" slot="start" color="success"></ion-icon>
        <ion-label>Sample Item Six</ion-label>
        <ion-button fill="solid" slot="end">View</ion-button>
      </ion-item>
      <ion-card-content>
        <h5>Sample item six details goes here</h5>
        Location: Kegalle, Sri Lanka
      </ion-card-content>
    </ion-card>

  </ion-content>
</lib-ionic-pullup>
